<h1> Add a new book </h1>
<%= form_for(book, url: url_for(controller:"books" , action:"update" , id: book.id), method: :put) do |f| %>
<div>
  <label>Name</label>
  <%= f.text_field :name %>
</div>

<div>
  <label>Author</label>
  <%= f.text_field :author %>
</div>

<button type ="submit">Submit</button>

<% end %>
